  <div class="app-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
    <h3>Mangá feeds</h3>
    <p>
      Receba notificações de seus mangás favoritos sem precisar verificar se já tem um novo capítulo disponível.
    </p>
    <%= link_to "Mangás", :mangas, class: 'btn-default' %>
    <%= link_to "Download Chrome Extension", "manga-feeds-extension.crx", class: 'btn-default' %>
  </div>
